DATABASE_URL=""
DIRECT_URL=""

NEXT_PUBLIC_SUPABASE_URL=https://xxxx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key

NEXT_PUBLIC_MODEL_URL="https://api-inference.huggingface.co/models/your-model"